.App {
  text-align: center;
  font-family: monospace;
}

.App-logo {
  animation: App-logo-spin infinite 10s linear;
  max-height: 40vh;
  margin: 50px 0;
}
.App-logo:hover {
  animation: App-logo-spin-reverse infinite 10s linear;
}

.App-header {
  background-color: #f8f8f8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #000;
  padding: 15px;
}

.App-footer {
  padding: 5px 15px;
  text-align: right;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes App-logo-spin-reverse {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
